.formulate-input-element--submit {
  & .form-control {
    background-color: royalblue;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:disabled{
      background-color: lighten(royalblue, 10%);
    }

  }
}

.formulate-input-element--button {
  & .form-control {
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:disabled{
      background-color: lighten(white, 10%);
    }

  }
}
